body{
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    width: 100%;
}

nav{
    background-color: rgb(4, 245, 77);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    box-shadow: 0px 0.5px #888888;

}

.banner{
    display: block;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px rgb(138, 138, 138);
}

.grid{
    grid-area: grid;
    grid-auto-rows: 450px 620px 350px 300px 600px 150px;
    grid-template-areas: 
    "header",
    "main",
    "section",
    "somos",
    "projetos",
    "footer";
}

header{
    grid-area: header;
    height: 500px;
    
}

header div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    margin-top: 50px;
    width: auto;
    height: 300px;
}

div h1{
    color:  rgb(4, 245, 77);
    font-size: 40px;
    text-shadow: 1px 1px rgb(138, 138, 138);
}

main{
    grid-area: main;
    background-color: rgb(4, 245, 77);
    width: 100%;
    height: 620px;
    /* opacity: 0.25; */
}

section{
    grid-area: section;
    height: 350px;
}

.somos{
    grid-area: somos;
    height: 300px;
}

#grad-top{
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(4, 245, 77));
    height: 5px;
}

.projetos{
    background-color: rgb(4, 245, 77);
    grid-area: projetos;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.main-bloco{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    margin-bottom: 75px;
    margin-top: 20px;
}

.bloco{
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 25px;
}

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocos h2{
    text-shadow: 1px 1px rgb(138, 138, 138);
    color: white;
    font-size: 3em
}

.blocos h2:hover{
    cursor: default;
}

.bloco:hover{
    cursor: pointer;
}

#grad-bottom{
    background:linear-gradient(to top, rgba(255,0,0,0), rgb(4, 245, 77));
    height: 5px;;
}

footer{
    grid-area: footer;
    height: 150px;
}






